<ion-header>
    <ion-navbar color="navbar">
        <button ion-button menuToggle>
            <ion-icon name="menu" class="icon-menu"></ion-icon>
        </button>
        <ion-title>
            Formularios
        </ion-title>
        <ion-buttons end>
            <button *ngIf="!sendingForms" [disabled]="pendingForms.length==0" ion-button icon-end (click)="clickSendForms()">
                Enviar
            </button>
            <button [disabled]="true" *ngIf="sendingForms" ion-button icon-end>
                Enviando
                <ion-spinner item-end name="dots" color="light"></ion-spinner>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="comprobandoPendientes">
        <ion-spinner item-end name="bubbles" color="menuItemNote"></ion-spinner>
    </div>
    <div *ngIf="!comprobandoPendientes">
        <div *ngIf="pendingForms.length!=0">
            <ion-card margin-bottom *ngFor="let form of pendingForms;let i = index">
                <ion-item text-wrap data-toggle="collapse" [attr.href]="'#collapse'+i" aria-expanded="false">
                    <ion-avatar item-start>
                        <img src="assets/imgs/formulario4.png">
                    </ion-avatar>
                    <h3 style="margin-bottom: 9px">{{form.formData.name}}</h3>
                    <h3 style="color: #1f8490" *ngIf="form.formData.code"> Identificación: {{form.formData.code}}</h3>
                    <h3 no-margin text-wrap><strong class="strongLabel">Creación:</strong> {{form.formData.createdDate | date:'yyyy/MM/dd HH:mm:ss'}} </h3>
                    <ion-icon item-end ios="ios-more" md="md-more"></ion-icon>
                </ion-item>
                <div class="collapse" style="margin-top: 6px" id="collapse{{i}}">
                    <div class="container">
                        <div padding-left padding-right class="row">
                            <div class="col-12">
                                <ion-label no-margin margin-bottom text-wrap><strong class="strongLabel">Última actualización:</strong> {{form.formData.versions[form.formData.versions.length - 1].saveDate |  date:'yyyy/MM/dd HH:mm:ss'}}</ion-label>
                                <ion-label *ngIf="form.formData.gps == 'required' && form.formData.versions[form.formData.versions.length - 1].coordinates " no-margin margin-bottom text-wrap><strong class="strongLabel">Última ubicación:</strong> Lat: {{ form.formData.versions[form.formData.versions.length - 1].coordinates.latitude }}, Long: {{ form.formData.versions[form.formData.versions.length - 1].coordinates.longitude }}</ion-label>
                                <ion-label *ngIf="form.formData.gps == 'required' && form.formData.versions[form.formData.versions.length - 1].coordinates==null " no-margin margin-bottom text-wrap><strong class="strongLabel">Última ubicación:</strong> No se pudo determinar</ion-label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button class='edit-button' [disabled]="sendingForms" ion-button block icon-start clear small (click)="clickEditForm(i)">
                                    <ion-icon class="edit-button-icon" name="create"></ion-icon>
                                    <div>Editar</div>
                                </button>
                            </div>
                            <div class="col-6">
                                <button class='delete-button' [disabled]="sendingForms" ion-button block icon-start clear small (click)="clickDeletePendingForm(form, i)">
                                    <ion-icon class="icon-trash" name="trash"></ion-icon>
                                    <div>Eliminar</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-card>
        </div>
    </div>
</ion-content>
