page-sentForms {
	.delete-button{
		color: #c44c3e;
		background-color: #ffffff;
	}
  	.icon-trash{
		color: #c44c3e;
	}
	.see-button-icon{
		color: #2b3542;
	}
	.see-button{
		color: #2b3542;
		background-color: #ffffff;
	}
}
